# For more details, see https://docs.github.com/en/actions
name: Build and push docker image

# Controls when the workflow will run
on: [workflow_dispatch]

# For more details, see https://docs.docker.com/build/ci/github-actions/push-multi-registries/
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USER_NAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          build-args: DOCKER_HUB_USER_NAME=${{ secrets.DOCKER_HUB_USER_NAME }}
          context: .
          platforms: linux/amd64
          push: true
          tags: |
            ${{ secrets.DOCKER_HUB_USER_NAME }}/ros-mindvision:latest
            ${{ secrets.DOCKER_HUB_USER_NAME }}/ros-mindvision:2.1.0.37
